:root {
    --main-font-family: 'Inter', sans-serif;
    --fantasy-font-family: 'PressStart2P', fantasy;
    --heart_color: #FF0000;
    --background-color: #d3d3d3;
    --block-color: #ffffff;
    --background-image: 
        repeating-linear-gradient(to left, #e7e7e7 0 2px, transparent 2px 4px),
        repeating-linear-gradient(#e7e7e7 0 2px, transparent 2px 4px),
        linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --main-text-color: #000000;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --button_activity_color: var(--block-color)
}

@media (390px <= width < 1440px) {
    .header {
      min-inline-size: 90vw;
    }
  }
  
  @media (width < 390px) {
    .header {
      min-inline-size: 100vw;
    }
  }
  
  @media (width < 390px) {
    .header__link {
      font-size: 49px;
    }
  }
  
  @media (390px <= width < 1440px) {
    .header__title {
      font-size: 18px;
    }
  }
  
  @media (width < 390px) {
    .header__title {
      font-size: 14px;
    }
  }
  
  @media (390px <= width < 1440px) {
    .section {
      min-inline-size: 90vw;
    }
  }
  
  @media (width < 390px) {
    .section {
      min-inline-size: 100vw;
    }
  }
  
  @media (width < 1440px) {
    .card__image {
      block-size: 100vw;
    }
  }
  
  @media (width < 390px) {
    .section_card__text {
      margin: 21px 25px;
    }
  }
  
  @media (1440px <= width) {
    .main_button {
      margin-top: -5px;
    }
  }
  
  @media (width < 390px) {
    .save_button {
      flex-direction: column;
    }
  }
  
  @media (width < 390px) {
    .floppy {
      inline-size: 28px;
    }
  }

@supports (text-stroke: 1px var(--block-color)) or
  (-webkit-text-stroke: 1px var(--block-color)) {
  .image-logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--block-color);
    text-stroke: 1px var(--block-color);
  }
}
