/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-text-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--font-weight-regular);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 100px auto 102px;
  max-width: 48%;
  background-color: var(--block-color);
  border: 2px solid var(--main-text-color);
  padding-top: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

@media (375px <= width < 1440px) {
  .header {
    min-width: 90%;
  }
}

@media (width <= 375px) {
  .header {
    min-width: 100%;
  }
}

.header__link {
  font-family: var(--fantasy-font-family), fantasy;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 20px;
  text-decoration: none;
}

.header__title {
  font-family: var(--fantasy-font-family), fantasy;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 25px;
}

@media (375px <= width < 1440px) {
  .header__title {
    font-size: 18px;
  }
}

@media (width <= 375px) {
  .header__title {
    font-size: 14px;
  }
}

.theme-menu__list {
  display: flex;
  gap: 14px;
  flex-direction: column;
  margin-bottom: 25px;
}

.theme-menu__item {
  border: none;
  background: none;
  font-family: var(--fantasy-font-family);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.theme-menu__button {
  position: relative;
  cursor: pointer;
  border: transparent; 
  background: transparent; 
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  font-family: var(--fantasy-font-family), fantasy;
  font-weight: var(--font-weight-regular);
  color: var(--main-text-color);
  font-style: normal;
  font-size: 14px;
  inset-block-start: 0;
  inset-inline-start: -20px;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  outline: none;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: var(--main-text-color);
  width: 100%;
  height: 2px;
  inset-block-start: 14px;
  inset-inline-start: 0;
  transition: transform 0.3s ease;
  transform-origin: left center;
  transform: scaleX(0);
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 48%;
  gap: 50px;
}

@media (375px <= width < 1440px) {
  .section {
    min-width: 90%;
  }
}

@media (width <= 375px) {
  .section{
    min-width: 100%
  }
}

.card {
  background-color: var(--block-color);
  border: 2px solid var(--main-text-color);
}

.card__title {
  align-self: self-start;
  padding: 3px 10px;
  font-family: var(--main-font-family), sans-serif;
  font-style: normal;
  font-size: 18px;
  color: var(--main-text-color);
  font-variation-settings: "wght" var(--font-weight-bold);
}

.section_card__image {
  position: relative;
  width: 100%;
}

.card__image {
  border-top: 2px solid var(--main-text-color);
  border-bottom: 2px solid var(--main-text-color);
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.image-logo {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--main-text-color);
  text-shadow: 1px 0 0 var(--block-color),
  0 1px 0 var(--block-color),
  -1px 0 0 var(--block-color),
  0 -1px 0 var(--block-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 10;
  position: absolute;
  right: 25px;
  top: 27px;
}

@supports (text-stroke: 1px var(--block-color)) or
  (-webkit-text-stroke: 1px var(--block-color)) {
  .image-logo {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--block-color);
    text-stroke: 1px var(--block-color);
  }
}

.section_card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.card__text {
font-family: var(--main-font-family), sans-serif;
font-variation-settings: "wght" var(--font-weight-regular);
font-style: normal;
font-size: 18px;
color: var(--main-text-color);
}

.main_button {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: end;
  margin: 25px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-text-color);
  transition: outline 0.3s ease;
}

.like-icon {
  fill: var(--main-text-color);
  position: relative;
  z-index: 1;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon:hover .core {
  fill: var(--main-text-color);
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-text-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: #FF0000;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition: fill 0.3s 0.06s linear;
}

.like-icon .sparks {
  opacity: 0;
  transition: fill 0.3s 0.03s linear;
  fill: #FF0000;
}

.card__like-button {
  border: 2px solid var(--main-text-color);
  padding: 12.5px 37px;
  font-family: var(--fantasy-font-family), fantasy;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  text-transform: capitalize;
  width: 8.125rem;
  background-color: transparent;
  position: relative;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover {
  color: var(--main-text-color);
  transition: color 1s ease;
  cursor: pointer;
}

.card__like-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-block-end: 0;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
  transform: scaleX(0);
  mix-blend-mode: difference;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.sparks {
  opacity: 0;
}

.saturate {
  filter: saturate(20%);
}

.brightness-saturate {
  filter: brightness(150%) saturate(300%);
}
.hue-rotate {
  filter: hue-rotate(390deg);
}

.contrast-invert {
  filter: contrast(60%) invert(100%);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(0.6rem);
}

.hue-rotate-contrast {
  filter: hue-rotate(100deg) contrast(60%);
}

.button__text {
  font-family: var(--fantasy-font-family), fantasy;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  color: var(--block-color);
  text-transform: capitalize;
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
}

.save_button {
  position: relative;
  border: 2px solid var(--main-text-color);
  background-color: var(--block-color);
  padding: 18.5px 21px;
  margin: 0 auto 105px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--block-color);
  background-color: var(--block-color);
}

.save_button:focus {
  outline: none;
}

.save_button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.save_button:hover {
  color: var(--block-color);
  transition: color 1s ease;
  cursor: pointer;
}

.save_button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-block-end: 0;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
  transform: scaleX(0);
  mix-blend-mode: difference;
}

.save_button:hover::after {
  transform: scaleX(1);
}

.floppy {
  width: 21px;
  fill: currentColor;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog {
  font-family: var(--fantasy-font-family), fantasy;
  font-size: 14px;
  padding: 30px 26px;
  color: var(--main-text-color);
  background: var(--block-color);
  border: 2px solid var(--main-text-color);
  transition: opacity 0.3s ease-in-out;
  inset: 0;
}

.dialog::backdrop {
  background-color: var(--main-text-color);
}

.dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  background-color: var(--block-color);
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

.dialog__text-container {
  display: flex;
  gap: 22px;
  align-items: center;
}

.dialog .floppy {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

.ok-button {
  position: relative;
  display: block;
  text-transform: uppercase;
  width: 100%;
  background: var(--block-color);
  text-align: center;
  cursor: pointer;
  font-family: var(--fantasy-font-family), fantasy;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  border: 2px solid var(--main-text-color);
  display: flex;
  padding: 12.5px 132.5px;
  justify-content: center;
  align-items: center;
}

.ok-button:focus {
  outline: none;
}

.ok-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--main-text-color);
  transition: box-shadow 0.3s ease;
}

.ok-button:hover {
  color: var(--block-color);
  transition: color 1s ease;
  cursor: pointer;
}

.ok-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-block-end: 0;
  background-color: var(--main-text-color);
  transition: transform 0.5s ease-in-out;
  transform-origin: left center;
  transform: scaleX(0);
  mix-blend-mode: difference;
}

.ok-button:hover::after {
  transform: scaleX(1);
}

.ok-button-text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
  text-transform: uppercase;
  color: var(--block-color);
}

