/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --background-color: #d3d3d3;
    --block-color: #ffffff;
    --background-image: 
    repeating-linear-gradient(
      to left,
      var(--background-color-start) 0 2px,
      transparent 2px 4px),
    repeating-linear-gradient(
      var(--background-color-start) 0 2px, 
      transparent 2px 4px),
    linear-gradient(
      var(--background-color-start) 0.01%, 
      var(--background-color-end));
    --main-text-color: #000000;
    --font-weight-bold: 700;
    --font-weight-regular: 400;
    --fill: #ffffff;
    --background-color-start: #e7e7e7;
    --background-color-end: #1a1a1a;
}

:root.theme-dark {
    --background-color: #000000;
    --block-color: #000000;
    --background-image: 
    repeating-linear-gradient(
      to left,
      var(--background-color-start) 0 2px,
      transparent 2px 4px),
    repeating-linear-gradient(
      var(--background-color-start) 0 2px, 
      transparent 2px 4px),
    linear-gradient(
      var(--background-color-start) 0.01%, 
      var(--background-color-end));
    --main-text-color: #00CC14;
    --font-weight-bold: 785;
    --font-weight-regular: 465;
    --fill: #00CC14;
    --background-color-start: #007f0c;
    --background-color-end: #004306;
}
